[submodule "ca"]
	path = ca
	url = https://github.com/cqut-ngu/ca.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/tqfx/cmake.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/cqut-ngu/rc2021-scripts.git
